http://tc.tysonjenkins.dev, http://*.tysoncloud.tysonjenkins.dev, http://*.tysonjenkins.dev {
    reverse_proxy https://192.168.0.220 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}

        transport http {
            tls
            tls_insecure_skip_verify
            tls_server_name {host}
        }

        @upstream_5xx status 5xx
        handle_response @upstream_5xx {
            error {rp.status_code} "upstream returned {rp.status_code}"
        }
    }
    handle_errors 5xx {
      root * /var/www/errors
      rewrite * /5xx.html
      file_server
    }
}
